SERVICE_HOST=127.0.0.1
SERVICE_PORT=2025
ROTOXY_PROVIDER=ollama
DST_BASE_URL=https://ollama.com
ROTOXY_AUTH_HEADER=Authorization
ROTOXY_AUTH_PREFIX=Bearer 
ROTOXY_STATIC_HEADERS_JSON={}
API_KEYS=
ACCOUNT_NAMES=Account 1
ROTOXY_ROTATION=round-robin
ROTOXY_COOLDOWN_SECONDS=60
ROTOXY_METER_BUDGET_TOKENS=1000000
ROTOXY_CLIENT_TOKEN_FILE=~/.config/rotoxy/token
